*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --light-mode-header: #F5F5F5;
    --dark-mode-header: #3A69D2;
    --light-mode-bckg: #FFFFFF;
    --dark-mode-bckg: #1F2937;
    --light-mode-text:#4A4E74;
    --dark-mode-text:#F5F5F5;
}

body{
    display: flex;
    height: 100dvh;
    flex-direction: column;
    background-color: var(--light-mode-bckg);
    font-family: "Inter", sans-serif;
    color: var(--light-mode-text);
    transition: 0.5s;
}


/* HEADER */
header{
    display: flex;
    flex-direction: column;
    background-color: var(--light-mode-header);
    width: 100%;
    padding: 2.5em 0;
    align-items: center;
}

header > h1{
    font-weight: bolder;
    font-size: 2rem;
}

header > p{
    font-size: .75rem;
}

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em 1em;
}

/* INPUT FORM */
form{
    display: flex;
    width: 100%;
    justify-content: center;
}
#task, 
select,
#add--btn{
   border: #D5D4D8 1px solid;
}

#task{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: .4em 0 .4em .4em;
    min-width: 70%;
}

select{
    background-color: #F0F0F0;
    min-width: 20%;
}

#add--btn{
    min-width: 10%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #3A69D2;
    color: #ffffff;
}

/* INPUT TABLE */
.inputs--container,
.inputs--header,
.inputs--information,
.input--info{
    display: flex;
}

.inputs--container,
.inputs--information{
    flex-direction: column;
}

.inputs--container{
    width: 100%;
    margin: 1.5em 0 1em;
    gap: 1em;
    font-weight: bold;
}

.inputs--header{
    justify-content: space-between;
}

.inputs--header,
.dollar{
    color:#918E9B;
}

.inputs--header > p{
    font-weight: bold;
    font-size: .75rem;
}

.inputs--information{
    justify-content: space-evenly;
    gap: 1em
}

.input--info{
    width: 100%;
}

.remove--btn{
    border:none;
    background-color: transparent;
    font-size: 0.6rem;
    margin-left: .4em;
}

.remove--btn:hover{
    cursor: pointer;
    color: red;
}

.input--info > p:last-child{
    font-weight: 500;
    margin-left: auto;
}
.dollar{
    font-weight: 200;
}

/* RESULTS */
hr{
    border: none;
    border-top:1px solid #C3C6DB;
    margin: 1em 0 1.5em;
}

.sum--table,
.sum--header,
.sum--results{
    display: flex
}

.sum--table{
    flex-direction: column;
    gap: 1em;
}

.sum--header,
.sum--results{
    justify-content: space-between;
}


.sum--header > p{
    color: #918E9B;
    font-size: 0.75rem;
    font-weight: 500;
}

.sum--results{
    align-items: center;
    margin-bottom: 1.5em;

}

.sum--results > p:first-child{
    font-size: 0.65rem;
}

.sum--total{
    font-size: 2.25rem;
    font-weight: 600;
}

/* BUTTONS */

.send--btn{
   background-color: #3770ED;
   color: #FFFFFF;
   font-family: "Inter", sans-serif;
   padding: 10px 0;
   border: none;
   border-radius: 7px;
   margin-bottom: 1em;;
}

/* Dark mode button */

.mode--container{
    display: flex;
    width: 25%;
    margin-left:auto;
}

#changeTheme {
    width: 0;
    height: 0;
    opacity: 0;
  }
  #dark--label {
    display: block;
    height: 15px;
    width: 60px;
    position: relative;
    transform: rotate(90deg) translate(50px, 100px);
  }
  span.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #dadada;
    border-radius: 30px;
  }
  span.slide:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    /* top: -2px; */
    /* left: 0px; */
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
  }
  .txt {
    position: relative;
    transform: translatex(-50px);
    top: 38px;
    right: 40px;
  }
  .txt p:nth-child(1) {
    color: grey;
    font-weight: bold;
    font-size: 1.1em;
    transition: 0.5s;
  }
  #changeTheme:checked + span.slide:before {
    transform: translatex(1em);
  }



/* .mode--container > input{
    width: 75%;
}
.mode--container > label{
    font-size: .75rem;
} */

/* DARK MODE FEATURE */
.darkMode--body{
    background-color: var(--dark-mode-bckg);
    color: var(--dark-mode-text)
}

.darkMode--header{
    background-color: var(--dark-mode-header);
}

.darkMode--remove{
    color:#D5D4D8;
}


  .darkMode--label .txt p:nth-child(1) {
    color: #000;
    font-weight: normal;
  }

  .darkMode--label .txt p:nth-child(2) {
    color: grey;
    font-weight: bold;
  }

/* MEDIA QUERIES */

@media screen and (min-width: 700px) {
   
    header > h1{
        font-weight: bolder;
        font-size: 4rem;
    }
    
    header > p{
        font-size: 1.5rem;
    }

    main{
        align-self: center;
        width:75%;
        font-size: 2rem;
    }

    .inputs--header > p,
    .sum--header > p{
        font-size: 1rem;
    }

    .sum--results > p:first-child{
        font-size: 0.95rem;
    }   
    .sum--total{
        font-size: 3rem;
    } 

    #task,
    #prices--opts > option{
        font-size: 1rem;
    }

    #add--btn,
    .send--btn{
        font-size: 1.5rem;
    }

    .mode--container{
        margin: 0;
        margin-left: 2.5em;
    }

    .mode--container > input{
        width: 45%;

    }
    .mode--container > label{
        font-size: .75rem;
    }

    .txt{
        top:20px;
    }

    #changeTheme:checked + span.slide:before {
        transform: translatex(40px);
      }
    
}
